.wrapper {
    margin: 0 auto;
    width: 80%;
}

.diceBoxClass, .textBoxClass, .apiClass {
    width: 25%;
    float: left;
}

.quick20 {
    text-align: center;
    font-weight: bold;
    font-size: 25;
}

.dieImage {
    height: 90;
}

#standAlone20 {
    height: 220;
}

.entry {
    border-bottom: solid 1px black;
}

#spellBtn, #saveSpellBtn {
    float: left;
    margin-right: 20px;
}

#firstSpellBtns {
    border-bottom: solid 1px black;
    height: 40px;
}

.favSpells {
    margin: 5 5 5 0;
}